#container {
		width: 800px;
		border: solid 1px red;
}

#head,
#body {
		width: 100%;
		font-size: 10px;
}

#head th,
#body td {
		border: solid 1px orange;
}

#scroll {
		//display: block;
		height: 400px;
		background-color: aqua;
		overflow-y: scroll;
}

#body {}